/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************
Main page formmatting
***********************************/
body {
  background-color: #5BA3D6;
  color: #FFF;
  font-family: sans-serif;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/***********************************
Column formatting
***********************************/
label {
	font-size: 1em;
	padding: 1%;
	text-transform: uppercase;
}

textarea {
	vertical-align: top;
}

.column {
  float: left;
	margin: 1% 0;
	margin-left: 3%;
  width: 30.333333%;
}

.textBox {
	background-color: #5BA3D6;
	border: solid 2px #FFF;
	color: #FFF;
	display: block;
	font-size: 1em;
	margin: 1%;
	margin-bottom: 8%;
	padding: 2%;
	width: 90%;
}

	.textArea {
		height: 200px;
}

.optionList {
	background-color: #5BA3D6;
	color: #FFF;
	font-size: 1em;
	margin: 1%;
	margin-bottom: 8%;
	width: 90%;
}

/***********************************
Responsive functions
***********************************/
